.container{
    margin-top: 0;
    padding-top: 1px;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    
}

.intro h3{
    color: #c5cfe0;
    position:relative;
    text-align: center;
    margin-top: 13%;  
}

.intro h1{
    font-size: 8em;
    text-align: center;
    margin-top: 4%;
    color: #cad5e9;

}

.intro h2{
    position: relative;
    font-size: 2rem;
    text-align: center;
    display: flex wrap;
    line-height: 0.25rem;
    margin-top: 3.2%;
    color: #6d94cb;
}
.intro span h2{
    font-size: 2em;
    margin-top: 2%;
    color: #6d94cb;
}


.subsection h4{
    position: relative;
    text-align: center;
    margin-top: 18.25rem;
    color: #ACB8CB;
}

.subsection h1{
    position: relative;
    text-align: center;
    color: #6C90C2;
    font-weight: 700;
    font-size: 3em;
    margin-top: 0.5em;
}
