*
{
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  
}


.main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
  background-color: #0f1524;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

}